<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>workstation.rottigni.tech</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>workstation.rottigni.tech</h1>
        <img id="live-streaming" src="{{ url_for('main.video_feed') }}" width="640" height="480">
        <div>
            <button id="strategy-live">LIVE</button>
            <button id="strategy-motion-detection">MOTION_DETECTION</button>
        </div>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
