* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #273746;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 1rem .5rem;
    background-color: #566573;
    color: white;
}
